<h1>campgrounds</h1>

<% campground.forEach(function(campground){ %>
  <div class="">
    <h4>
       <%=  campground.name %>
    </h4>
    <img src="<%= campground.image%></img></img>" alt="" height='200px'>
  </div>

<% }); %>
