<%- include('partials/header')%>

<div class="container">

    <h1 class="d-flex justify-content-center mt-5">Create a new campground</h1>
      <div class="d-flex justify-content-center">
      <form class='' action="/campgrounds" method='POST'>
        <input class="form-control m-3" type="text" name='name' value='' placeholder='Camp name'>
        <input  class="form-control m-3" type='text' name='image' placeholder="Image URL">
        <button class='btn btn-primary lg btn-block m-3' type="post" name="button" onclick="function clicked(){console.log('button clicked')}">Add new campground</button>

        <!-- <input type="button" name="" value="" placeholder="add campground" onclick="function clicked(){console.log('buttton clicked')}"> -->
    </form>
  </div>
      <a href="/campgrounds" class="d-flex justify-content-center">Go Back</a>
</div>

<%- include('partials/footer');%>
